/* Navbar */
.DrawerNavigationList {
  background-color: var(--green-background-color);
  font-family: var(--secondary-font-family);
  color: black;
  padding: 1rem;
}

.DrawerNavigationList ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-family: var(--secondary-font-family);
  color: black;
  padding-inline-start: 0.2rem !important;
  gap: 20px;
}

.DrawerNavigationList ul li {
  position: relative;
  color: black;
  cursor: pointer;
  padding: 1rem;
}

.DrawerNavigationList ul li:hover {
  background-color: var(--green-background-color);
  border-radius: 5px;
}
.DrawerNavigationList .LinkButton{
    color: black;
}
.DrawerNavigationList .LinkButton:hover{
    color: black;
}