.hero-section{
    background-color: var(--white-background-color);
    color: black;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.hero-section .hero-section-title{
    font-family: var(--primary-font-family);
    font-size: var(--title-font-size);
    font-weight: bold;
    margin-bottom: 20px;
}
.hero-section .hero-home-class-button{
    display: flex;
    justify-content: center;
}
.hero-section .hero-home-button{
    display: flex;
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--green-background-color);
    cursor: pointer;
    transition: border-color 0.25s;
    gap: 20px;
    padding: 10px 20px;
    font-weight: 500;
}

.hero-section .hero-home-class-button svg{
    height: 20px;
}