.VMCV-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px 20px 20px 20px;
    color: #000;
}

.VMCV-card {
    flex: 1;
    padding: 0px 20px;
    /* border: 1px solid #e5e5e5;
    background: #fff; */
    border-radius: 6px;
    align-items: center;    
}
.VMCV-section .VMCV-card .title-content{
    width: 50%;
    text-align: center;
    border-radius: 6px;
    background-color: var(--green-background-color);
    padding: 10px;
    margin:  10px auto;
    color: var(--primary-font-color);
    box-shadow: var(--box-shadow);
}
.VMCV-section .VMCV-card .description-content{
    font-size: 12px;
    border-radius: 15px;
    line-height: 1.5;
    padding: 30px 50px 50px 50px;
    border: 1px solid #e5e5e5;
    background: #fff;
    height: 300px;
    box-shadow: var(--box-shadow);

}

.home-news-section{
    align-items: center;  
    margin:  40px auto;
    gap: 30px;
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
}

.home-news-section .home-news-class{
    background-color: var(--green-background-color);
    height: 20px;
    max-width: 400px;
    color: var(--primary-font-color);
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}
.home-news-section  .home-news-class-card{
    display: flex;
    gap: 20px;
}
/* .home-news-section .home-news-class-card .News-Card-Title{
    width: 50%;
} */

.News-Card-Title {
    transition: transform 0.2s;
}

.home-page .home-news-section .home-news-class-card .ant-card .ant-card-cover >* {
    border-radius: 0px !important;
}

.home-page .home-news-section .home-news-class-card .ant-card .ant-card-head{
    width: 100% !important;
    align-items: center !important;
    padding-top: 10px !important;
}
.home-page .home-news-section .home-news-class-card .ant-card .ant-card-head .ant-card-head-wrapper{
    width: 80% !important;
    justify-content: center !important;
}
.home-page .home-news-section .home-news-class-card .ant-card .ant-card-body{
    padding: 10px !important;
}
.home-page .home-news-section .home-news-class-card .ant-space-item{
    box-shadow: var(--box-shadow) !important;
}
.home-page .home-news-section .home-news-class-card .ant-card {
    border: none !important;
}
.home-page .home-news-section .home-news-class-card .ant-card .ant-card-head {
    border-bottom: none !important;
    border: none !important;
}
.home-page .home-news-section .home-news-class-card .ant-card .ant-card-actions {
    border-top: none !important;
    border: none !important;
    display: flex !important;
    align-items: center !important;
}
.home-page .home-news-section .home-news-class-card .ant-card .ant-card-actions>li:not(:last-child){
    border-right: none !important;
}