/* Top bar */
.top-bar {
  display: flex;
  justify-content: space-between;
  background-color: var(--green-background-color);
  padding: 1rem 0rem 0rem;
  color: white; 
  font-size: var(--font-size);
  align-items: center;
} 
#top-bar-trapezoid p{
  font-family: var(--thirdy-font-family);
}
.right-top-bar{
    display: flex;
}
.left-top-bar{
    display: flex;
    width: 21%;
}
#top-bar-trapezoid{
  clip-path: polygon(0 0, 80% 0, 95% 100%, 0% 100%);
  width: 24rem;
  background-color: white;
}

.top-bar .facebook-icon {
  font-size: var(--font-size);
  cursor: pointer;
}

/* Main header */
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 1rem var(--left-margin);
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo-section img {
  width: 4rem;
  height: 4rem;
}

.logo-section span {
  font-weight: bold;
  font-family: var(--thirdy-font-family);
  font-size: var(--font-size);
  color: #333;
}

.message-button {
  background-color: #6b8e23;
  color: white;
  border: none;
  border-radius: 10rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.message-button .envelope-icon {
  font-size: var(--font-size);
}

/* Navbar */
.navbar {
  background-color: var(--green-background-color);
  font-family: var(--secondary-font-family);
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0px 40px;
  padding: 5px var(--left-margin);
  gap: 50px;
  font-family: var(--secondary-font-family);
}

.navbar ul li {
  position: relative;
  color: white;
  cursor: pointer;
}

.navbar ul li:hover {
  background-color: var(--green-background-color);
  border-radius: 5px;
}
.navbar .LinkButton{
    color: white;
}
.navbar .LinkButton:hover{
    color: white;
}

@media (min-width: 650px) and (max-width: 1650px) {
  #top-bar-trapezoid{
  clip-path: var(--tablet-general-clip-path);
  width: var(--tablet-general-width);
}
.main-header {
  padding: var(--tablet-general-margin);
}
.left-top-bar{
  /* width: var(--tablet-general-width); */
  justify-content: center;
}
}