.page-not-found {
   height: 720px;
   background: var(--white-background-color);
   color: var(--secondary-font-color);
   text-align: center;
   display: flex;
   justify-content: center;
   flex-direction: column;
   font-family: 'Titillium Web', sans-serif;
}
.page-not-found h2 {
   font-weight: 700;
   font-size: 25vh;
   margin: 0;
   line-height: 1;
   animation: light 2s steps(1) infinite;
}
.page-not-found h2 + p {
   font-size: 3vh;
}
@keyframes light {
   33% {
      text-shadow: 0 0 20px var(--green-background-color);
   }
   66% {
      text-shadow: 0 0 20px #974d22;
   }
}