.page-container{
    padding: 0px var(--left-margin);
    background-color: var(--white-background-color);
}
.main-layout{
    margin: 0px 50%;
    width: 50%;
    max-width: 500px;
    background-color: var(--background-color);
}
.css-1ygil4i-MuiToolbar-root{
    justify-content: center;
    background-color: var(--green-background-color);
    min-height: 40px !important;
}
.css-132icwf-MuiButtonBase-root-MuiButton-root{
    padding: 9px 1rem !important;
}
.css-132icwf-MuiButtonBase-root-MuiButton-root:focus{
    outline: none;
}
.app-container{
    background-color: var(--white-background-color);
}
@media (max-width: 599px) {
.css-1ygil4i-MuiToolbar-root{
    justify-content: left;
}
.page-container{
    padding: 0px !important;
}
}